<h1 class="page-header">Hello <%= @username %></h1>

<div>
  <h2><%= link_to "Logout", "/logout" %></h2>
</div>

<%= form_tag login_path do %>
  <%= text_field_tag :name %>
  <%= submit_tag "Login" %>
<% end %>

